.position-right {
    text-align: right;
    text-transform: uppercase;
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box; 
}

.rules{
    font-size: 16px;
}

.kotik {
    transition: transform linear 0.2s;
}

.kotik:hover {
    transform: scale(1.1);
}

.poezd{
    transition: transform linear 0.2s;
}

.poezd:hover{
    transform: scale(1.2);
}